@keyframes notransform {
	50% {transform: none;}
}

.login__block
	display flex
	flex-direction column
	justify-content flex-start
	align-items flex-start
	width 416px
	background-color $color-background-secondary
	border $border
	border-radius $border-radius
	padding $padding-extra-large
	position relative
	transform translate3d(20px,20px,20px)
	nimation notransform 5s infinite
	animation notransform 5s infinite

	&-title, &-description
		color $color-text

	&-title
		font-size 28px
		font-weight $bold

	&-description
		font-size 16px
		font-weight $regular
		margin-top $padding

	&-buttons
		display flex
		flex-direction column
		width 100%
		margin-top $padding-big

	&-button
		display flex
		justify-content space-between
		align-items center
		width 100%
		height 60px
		background-color $color-background-third
		padding $padding $padding-big
		color $color-text
		font-weight $bold
		font-size 20px
		transition background-color $transition

		&:not(:first-child)
			margin-top $padding-small

		&:hover
			background-color $color-loading

		& img
			height 24px
			width 24px
			object-fit cover

