.giveaway
  display flex
  flex-direction column
  padding 0 90px
  border 1px solid #2d3050
  border-radius 10px
  background-color #14162b

  &__container
    display flex
    justify-content left
    align-items center
    height 100%
    flex-wrap wrap

    &-item
      width 250px
      margin 10px 20px 0 0

  &__pagination
    display flex
    justify-content center
    align-self center
    margin 60px 0
