.giveaway__detail
  display flex
  flex-direction column
  background-color $color-background
  border 1px solid $color-border
  border-radius 10px
  padding 20px
  width fit-content
  max-width 640px
  margin 0 auto

  &-image
    width 100%
    padding 0 5px
    margin 0 0 10px 0

  &-title 
    margin 0 5px

  &-description 
    margin 0 5px

  &-button
    margin 0 5px

    & button
      margin 0 5px 0 0

  &-column
    display flex
    justify-content space-between
    width 100%

    &-row
      width 50%
      margin 0 5px

  &-content
    display flex
    flex-direction column
    margin 0 0 10px 0

    &-text 
      margin 5px 0
      padding 8px 16px
      border-radius 10px
      border 1px solid $color-border

      & span
        font-size 14px
        font-weight 600
        color $color-text
        opacity .6

      & p
        font-size 16px
        font-weight 500
        color $color-text
        margin 3px 0
